

/*body{
	background-image: url('../img/pizza-3007395_1920.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
}*/

html, body {
    height: 100%;
    width: 100%;
}


#home {
    background: url('../img/sara-groblechner-JxS1trfvdT8-unsplash.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}


nav {

    font-family: 'Montserrat', sans-serif;  
    color: white; 
}


.fas fa-eye {
  color: red;
}

        

.hover {
    color: black;
}
